@media (min-width: 620px) {
    

    .about-content {
       p{ 
           font-size: 16px;
       }
    }
    
    
    .logo-img {
        width: 500px;
        
    }

    article {
        padding-top: 10px;
        p {
            font-size: 30px;
            line-height: 2.5rem;
        }
    }


    footer {
        padding-bottom: 50px;
    }

    .btn {
        padding-top: 15px;
        padding-bottom: 12px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 20px;

    }

    ul {
        width: 300px;
        margin: 0;
        padding-left: 5px;
        li {
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 16px;
        }
    }

    .menu-main-menu-container {
        width: 270px;
        margin: 0;
    }


    .menu-item-215 {
   
        padding-top: 0;
        padding-bottom: 0;

    }

    .menu-item-216 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-item-217 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .flex-footer {
        display: flex;
        justify-content: flex-start;
        p {
            margin: 0;
            // padding-top: 5px;
            border-left: 1px, solid, $main-font-color;
            padding-left: 10px;
        }
    }


    .submit-a-quote-title {
        font-size: 32px;
        padding-top: 20px;
    }


    .author-of-quote {
        display: flex;
        justify-content: flex-start;
        flex-direction: column; 
        label {
            padding-bottom: 10px
        }
        input {
            max-width: 50%;
            color: $main-font-color;
        }

    }

    .quote {
        padding-top: 20px;
        textarea  {
            margin-top: 10px;
            color: $main-font-color;
        }
    }

    body {
    .quote-source {
        padding-top: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        input{
            margin-top: 10px;
            max-width: 70%;
            color: $main-font-color;
        }
    }


    .quote-source-url {
        padding-top: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        input {
            margin-top: 10px;
            max-width: 70%;
            color: $main-font-color;
        }

    }
    


    .submit-quote {
        margin-top: 10px;
        color: $link-font-color;
        border-radius: 3px;
        width: 30%;
        text-align: center;
        height: 40px;
        font-family: 'Exo', sans-serif;        
    }


    }







} // end of min-width 620 px




@media (min-width: 1080px) {
    * {
        text-align: center;
    }

   
   
   
    .flex-footer {
        justify-content: flex-end;
        margin: 0 auto;
        padding-right: 40px;
    }
    .logo-img {
        width: 700px;
    }

    .entry-content:before {
        content: "\f10d";
        left: -150px;
        color: #0c0;
        font-family: FontAwesome;
        font-size: 125px;
        line-height: 125px;
        position: absolute;
      
    }
        
    .entry-content:after {
        content: "\f10e";
        color: #0c0;
        font-family: FontAwesome;
        font-size: 125px;
        line-height: 125px;
        position: absolute;
        right: -150px;
        top: 0;
        

    }


    .entry-content {
            max-width: 750px;
            margin: 0 auto;
            position: relative;

        p {
            text-align: left;
            font-size: 40px;
            padding-top: 0;
            line-height: 65px;
            margin: 0;

        }
    }

    .entry-meta {
        padding-top: 20px;  
        margin: 0 auto;
        display: flex;
        align-items: center;
        max-width: 750px;
        span {
            a {
                padding: 20px;
            }
        }
    }


    .flex-icons {
        display: flex;
        font-size: 130px;
    }


    .entry-header {
        margin: 0 auto;
        text-align: left;
        max-width: 750px;
        padding-bottom: 20px;
        h1 {
            text-align: left;
        }

    }

    .about-content {
        max-width: 750px;
        p{ 
            font-size: 16px;
            line-height: 2;
        }
     }



     body {



        .submit-a-quote-title {
            font-size: 32px;
            padding-top: 20px;
        }
    
    
        .author-of-quote {
            display: flex;
            // justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin: 0 auto; 
            label {
                padding-bottom: 10px
            }
            input {
                max-width: 50%;
                color: $main-font-color;
            }
    
        }
    

        .quote-source {
            padding-top: 10px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            input{
                margin-top: 10px;
                max-width: 70%;
                color: $main-font-color;
            }
        }
    
    
        .quote-source-url {
            padding-top: 10px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            input {
                margin-top: 10px;
                max-width: 70%;
                color: $main-font-color;
            }
    
        }
        
    
    
        .submit-quote {
            margin-top: 10px;
            color: $link-font-color;
            border-radius: 3px;
            width: 30%;
            text-align: center;
            height: 40px;
            font-family: 'Exo', sans-serif;        
        }
    
    
        }
    
    



} // end of 1080 min media 
