* {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    color: $main-font-color;
    background-color: $main-background-color;
    line-height: 1.5rem;
    font-family: 'Exo', sans-serif;
    

}



.post-archives {
    ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li {
        padding: 5px;
    }
    }
}

.category-archives {

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            padding: 5px;
        }

}

}



.tag-archives {


    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            padding: 5px;
        }

}




}









body {
    background-color: $main-background-color;
    padding: 1rem;
    padding-top: 3.5rem;
    font-size: 16px;
    a{
     color: $link-font-color;
     &:visited {
         color: $link-font-color;
     }
     &:hover {
        color: $hover-color;

     }
    

    } //end of a

    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

    }



    .entry-content {
        font-size: 20px;
    }

    .entry-title {
        font-size: 20px;
    }

    .btn-container {
        padding-top: 30px;
    }

    footer {
        // padding: 5px;
        ul {
            margin: 0;
            padding: 0;
            
            li{
                padding: 10px;
                border-right: 1px, solid, $main-font-color;
            }
        }



        .site-info{
            margin-top: 72px;
            margin-bottom: 48px;
            font-size: 5px;
          

        }

        .menu-item-215 {
            padding-left: 0;
        }

        .menu-item-217 {
            border: none;
        }

        .menu-item-214 {
            display: none;
        }



    } // end of footer




    .about {
        font-size: 32px;
        padding-top: 20px;
    }


    .about-content {
        font-size: 16px;
    }


    .submit-a-quote-title {
        font-size: 32px;
        padding-top: 20px;
    }


    .author-of-quote {
        display: flex;
        justify-content: flex-start;
        flex-direction: column; 
        label {
            padding-bottom: 10px
        }
        input {
            width: 50%;
            color: $main-font-color;
        }

    }

    .quote {
        padding-top: 20px;
        textarea  {
            margin-top: 10px;
            color: $main-font-color;
        }
    }


    .quote-source {
        padding-top: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        input{
            margin-top: 10px;
            width: 50%;
            color: $main-font-color;
        }
    }


    .quote-source-url {
        padding-top: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        input {
            margin-top: 10px;
            width: 50%;
            color: $main-font-color;
        }

    }



    .submit-quote {
        margin-top: 10px;
        color: $link-font-color;
        border-radius: 3px;
        width: 40%;
        text-align: center;
        height: 40px;
        font-family: 'Exo', sans-serif;        
    }

    .submit-quote-div {
        margin: 0 auto;
        max-width: 750px;
        text-align: left;
    }






    .error-content {
        font-size: 18px;
    }



    .search-submit {
        border: none;
    }


    .fa-search:before {
        content: "\f002";
    }






} // end of body


